@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@font-face {
  font-family: "Delm";
  src: local("Delm Regular"), local("Delm-Regular"),
    url("Delm-Regular.woff2") format("woff2"),
    url("Delm-Regular.woff") format("woff"),
    url("Delm-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kharkiv Tone";
  src: local("Kharkiv Tone"), local("Kharkiv-Tone"),
    url("Kharkiv-Tone.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}
main {
  margin-top: 121px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Navbar styles */
nav {
  position: fixed;
  top: 0;
  height: 121px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #000000;

  z-index: 1;
}

nav > div {
  display: flex;
  flex-direction: row;
}

.nav-logo {
  width: 219px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.nav-logo > div {
  font-family: "Delm";
  font-size: 35px;
  line-height: 44px;

  color: #0cff42;
}

.nav-logo > img {
  padding-left: 7px;
}

.nav-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

.nav-link {
  padding: 0 25px;

  font-family: "Montserrat";
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}

.nav-link > a {
  flex-wrap: nowrap;

  text-decoration: none;
  color: #ffffff;
}

.nav-user {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 50px;
}

.nav-donate-btn {
  padding: 10px 35px 11px;

  width: 224px;
  height: 51px;

  background: #00c82c;
  border-radius: 15px;
  border-width: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  color: #ffffff;
}

.nav-link > a:hover,
.nav-link:hover {
  color: #00c82c;
  transition: all 0.2s linear;
}

.nav-donate-btn:hover {
  box-shadow: 0px 0px 70px 5px #0aca34;
}

.nav-change-lang {
  margin-left: 50px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  color: #ffffff;
}

.nav-user-icon {
  margin-left: 20px;
}

#drop-block-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#drop-block-btn > img {
  margin-left: 10px;
}

.drop-block {
  position: absolute;
  transition: all 0.2s linear;

  top: 121px;
  left: 0;

  display: none;

  width: 100%;
  min-height: 627px;

  background-color: #000000;
  overflow: auto;
}

.drop-block > div {
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.drop-block-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 513px;
}

.drop-block-links > a:hover {
  color: #00c82c;
}

.drop-block-links > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  flex-wrap: nowrap;
  text-decoration: none;
  color: #ffffff;
}
/* --- Navbar styles --- */

header {
  width: 100%;
  min-height: 903px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  transition: all 1s ease-in-out;

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

header > h1 {
  font-family: "Kharkiv Tone";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 55px;
  text-align: center;

  color: #00c82c;

  margin-bottom: 50px;
}

.map-btn {
  padding: 10px 35px 11px;

  width: 338px;
  height: 64px;

  background: #00c82c;
  border-radius: 15px;
  border-width: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  color: #ffffff;
}

.map-btn:hover {
  box-shadow: 0px 0px 70px 5px #0aca34;
}

.indicators {
  width: 231px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 75px;
  margin-bottom: 65px;
}

.circle {
  width: 16px;
  height: 16px;

  border: 1px solid #00c82c;
  border-radius: 100%;

  transition: all 1s ease-in-out;
}

.cir-active {
  background-color: #00c82c;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

section > h1 {
  font-family: "Kharkiv Tone";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  text-align: center;

  color: #00c82c;

  margin-bottom: 50px;
}

.aims {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  margin-bottom: 80px;
}

.card {
  width: 396px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.card > h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 128px;
  line-height: 156px;

  margin: 0;
  position: relative;
  top: 83px;
  right: 241px;

  width: 156px;
  height: 156px;
}

.in-card {
  width: 342px;
  height: 462px;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  border: 3px solid #00c82c;
  border-radius: 20px;
}

.in-card > img {
  width: 116px;
  height: 116px;

  margin: 76px 0 0;
}

.in-card > p {
  margin: 81px 0 0;
}

@media screen and (max-width: 1440) {
}
