<footer>
  <div>
    <div class="footer-block">
      <div class="nav-logo">
        <div>UkrainochkaBobrs</div>
        <img src="img/logo.svg" alt="" />
      </div>
      <div class="copyright">© 2023 Усі права захищені</div>
    </div>

    <div class="footer-block">
      <div class="nav-navbar">
        <div class="nav-link"><a href="#main">Головна</a></div>
        <div class="nav-link"><a href="#about">Про нас</a></div>
        <div class="nav-link"><a href="#aims">Цілі</a></div>
        <div class="nav-link"><a href="#">Область</a></div>
      </div>
    </div>

    <div class="footer-block">
      <div class="mail">ukrainochkabobrs@gmail.com</div>
      <div class="politic">Політика конфіденційності</div>
    </div>
  </div>
</footer>
