<nav>
  <div>
    <div class="nav-logo">
      <div>UkrainochkaBobrs</div>
      <img src="img/logo.svg" alt="" />
    </div>

    <div class="nav-navbar">
      <div class="nav-link"><a href="">Головна</a></div>
      <div class="nav-link"><a href="">Про нас</a></div>
      <div class="nav-link"><a href="">Цілі</a></div>
      <div id="drop-block-btn" class="nav-link">
        <a href="">Область </a>
        <img src="img/arrow.svg" alt="" />
      </div>
    </div>

    <div class="nav-user">
      <button class="nav-donate-btn">Підтримати</button>
      <div class="nav-change-lang">UA</div>
      <img src="img/user-icon.svg" alt="" class="nav-user-icon" />
    </div>
  </div>
</nav>
<div class="drop-block" style="display: none">
  <div class="drop-block-links">
    <div>Test text 1</div>
    <div>Test text 2</div>
    <div>Test text 3</div>
    <div>Test text 4</div>
    <div>Test text 5</div>
    <div>Test text 6</div>
    <div>Test text 7</div>
    <div>Test text 8</div>
    <div>Test text 9</div>
  </div>
  <div class="drop-block-links">
    <div>Test text 1</div>
    <div>Test text 2</div>
    <div>Test text 3</div>
    <div>Test text 4</div>
    <div>Test text 5</div>
    <div>Test text 6</div>
    <div>Test text 7</div>
    <div>Test text 8</div>
    <div>Test text 9</div>
  </div>
  <div class="drop-block-links">
    <div>Test text 1</div>
    <div>Test text 2</div>
    <div>Test text 3</div>
    <div>Test text 4</div>
    <div>Test text 5</div>
    <div>Test text 6</div>
    <div>Test text 7</div>
    <div>Test text 8</div>
    <div>Test text 9</div>
  </div>
</div>
